*.db
*.db-*
*.log*
secrets.yaml
*.pem
.cloud/
.storage/
backups/
custom_components/
deps/
image/
tts/
.HA_VERSION
.vscode/
!.vscode/settings.json
www/community/
nest/
*august.conf
configuration.yaml
scenes.yaml
