*.db
*.db-*
*.log*
secrets.yaml
*.pem
.cache/
.cloud/
.ssh/
.storage/
.worktrees/
hass-config
backups/
deps/
image/
tts/
.HA_VERSION
.vscode/
!.vscode/settings.json
nest/
*august.conf
configuration.yaml
**/__pycache__
.bash_history

